<mat-toolbar color="primary">
    <a mat-button routerLink="/home" routerLinkActive="navbar-button-selected">Home</a>
    <a mat-button routerLink="/categories" routerLinkActive="navbar-button-selected">Categories</a>
    <a mat-button routerLink="/import-rules" routerLinkActive="navbar-button-selected">Import Rules</a>
    <a mat-button routerLink="/imports" routerLinkActive="navbar-button-selected">Imports</a>
    <a mat-button routerLink="/transactions" routerLinkActive="navbar-button-selected">Transactions</a>
</mat-toolbar>