<h2 mat-dialog-title>Select category</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(ngModel)]="selectedCategory">
            <mat-option value="1">Supermarket</mat-option>
            <mat-option value="2">Rent</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selectedCategory" cdkFocusInitial>Save</button>
</mat-dialog-actions>