<h2 mat-dialog-title>Select category</h2>
<mat-dialog-content>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select [(value)]="selectedCategory">
            <mat-option >(Unassigned)</mat-option>
            @for (item of data.categoryList; track $index) {
            <mat-option [value]="item">{{item.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="selectedCategory" cdkFocusInitial>Save</button>
</mat-dialog-actions>