<div class="import-button-container">
    <button mat-raised-button class="import-button" color="warn" (click)="deleteAllCategories()">
        Delete all categories
    </button>
    <button mat-raised-button class="import-button" color="warn" (click)="deleteAllImportRules()">
        Delete all import rules
    </button>
</div>

<div class="import-container">
    <div class="file">
        <input type="file" class="file-input" (change)="onCategoryFileSelected($event)" #categoryFileUpload>
        <div class="file-upload">
            {{categoryFile?.name || "Select category export file."}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="categoryFileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <div class="file">
        <input type="file" class="file-input" (change)="onImportRuleFileSelected($event)" #importRuleFileUpload>
        <div class="file-upload">
            {{importRuleFile?.name || "Select import rule export file."}}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="importRuleFileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </div>
    <button mat-raised-button class="import-button" color="primary" (click)="uploadFiles()">
        Import
    </button>
</div>