.import-list-container {
    padding: 30px;
}

.import-button-container {
    padding-top: 30px;
    padding-left: 30px;
}

.import-button+.import-button {
    margin-left: 8px;
}

tr.import-row:hover {
    background: whitesmoke;
}

tr.import-row:active {
    background: #efefef;
}