<mat-sidenav-container class="settings-container" autosize>
    <mat-sidenav [opened]="true" mode="side">
        <mat-nav-list>
            <a mat-list-item routerLink="/settings/export" routerLinkActive="navbar-button-selected">
                <span class="entry">
                  <mat-icon>download</mat-icon>
                  <span>Export</span>
                </span>
            </a>
            <a mat-list-item routerLink="/settings/import" routerLinkActive="navbar-button-selected">
                <span class="entry">
                  <mat-icon>upload_file</mat-icon>
                  <span>Import</span>
                </span>
            </a>
          </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="settings-sidenav-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>