.settings-container {
    width: auto;
    margin: 10px;
    min-height: 200px;
}

.settings-sidenav-content {
    padding: 10px;
}

.entry{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding:0.75rem;
}