.transaction-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.transaction-filter-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .transaction-filter-button-container {
        padding-bottom: 15px;

        .filter-button+.filter-button {
            margin-left: 8px;
        }
    }
}

.transaction-button-container {
    padding-left: 30px;
}

.transaction-button+.transaction-button {
    margin-left: 8px;
}

tr.transaction-row:hover {
    background: whitesmoke;
}

tr.transaction-row:active {
    background: #efefef;
}

.category-filter-container {
    padding-bottom: 15px;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}