.import-rule-list-container {
    padding: 30px;
}

.import-rule-button-container {
    padding-top: 30px;
    padding-left: 30px;
}

.import-rule-button+.import-rule-button {
    margin-left: 8px;
}

tr.import-rule-row:hover {
    background: whitesmoke;
}

tr.import-rule-row:active {
    background: #efefef;
}